@model IEnumerable<WaterCoolerWorld.Models.Cooler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_WCW_Admin.cshtml";
}
<hr/>
<div class="container" style="min-height: 500px">
    <h2><span style="border-bottom: 2px solid #00B7EB; padding-right: 10px;">All Coolers</span></h2>

    <p>
        <a href="@Url.Action("Create", "Coolers")">
            <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Cooler</button>
        </a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categrory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categrory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Cooler", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>