@model IEnumerable<WaterCoolerWorld.Models.Testimonial>
@{
    ViewBag.Title = "Home";
}
@Html.Partial("_CarouselParital")
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center wcc-welcome">Welcome To</h4>
            <h1 class="wcc-h1 text-center">Water Cooler World</h1>
            <hr class="hr-blue wcw-small-margin-top"/>
            <div class="row wcw-med-margin-top">
                <div class="col-md-6">
                    <p>
                        Our aim at Water Cooler World is to provide a reliable first class service to you in the simplest and most cost effective way. We provide our customers with quality products and unrivalled levels of service excellence.
                        Our water comes from natural springs and is carefully selected by experts and stringently tested before being extracted by environmentally friendly methods.
                    </p>
                    <p>
                        Our aim at Water Cooler World is to provide a reliable first class service to you in the simplest and most cost effective way. We provide our customers with quality products and unrivalled levels of service excellence.
                        Our water comes from natural springs and is carefully selected by experts and stringently tested before being extracted by environmentally friendly methods.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="~/Images/wcw3.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel2" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">
        @{
            var active = "active";
        }
        @foreach (var testimonial in Model)
        {
            <div class="item @active carousel-small-outer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="carousel-small-caption text-center">
                                <h1 class="text-center"><q>@testimonial.Quote</q></h1>
                                <p class="text-center">@testimonial.CustomerName</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            active = "";
        }
    </div>
      <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <div class="container">
      <div class="row wcw-med-margin-top">              
         <div class="col-sm-12">
           <h1 class="wcc-h1 text-center">Browse Our Products</h1>
          <hr class="hr-blue wcw-small-margin-top"/>    
           <p>Water Cooler World not only offer bottled coolers, they also supply and fit plumbed in systems (Point of Use) and offer a wide and diverse range of products ranging from high-capacity hot/cold water coolers to sports bottles. Water Cooler World has a planned and effective approach to penetrating the industry in all areas; Schools, Offices, Homes, Factories, Building sites - Water Cooler World has products for all of these and more. </p>
           <hr class="hr-blue"/>  
         </div>
           
         <div class="col-sm-6 col-md-3">
             <a href="@Url.Action("Mains", "Coolers")">
                 <div class="item-outer">
                     <img class="center-block indexPage" src="~/Images/link1b.png" />
                     <div class="linkText">
                         Mains Coolers
                     </div>
                 </div>
             </a>            
          </div>                   
          <div class="col-sm-6 col-md-3">
              <a href="@Url.Action("Bottle", "Coolers")">
                  <div class="item-outer">
                      <img class="center-block indexPage" src="~/Images/link2.jpg" />
                      <div class="linkText">
                          Bottle Coolers
                      </div>
                  </div>
              </a>             
          </div>              
         <div class="col-sm-6 col-md-3">
             <a href="@Url.Action("Coffee", "Coolers")">
                 <div class="item-outer">
                     <img class="center-block indexPage" src="~/Images/link3.png" />
                     <div class="linkText">
                         Coffee Machines
                     </div>
                 </div>
             </a>                
          </div>
         <div class="col-sm-6 col-md-3">
             <a href="@Url.Action("Contact", "Home")">
                 <div class="item-outer">
                     <img class="center-block indexPage" src="~/Images/link4.png" />
                     <div class="linkText">
                         Contact Us
                     </div>
                 </div>
             </a>            
          </div>
      </div>
    </div>